@import "mixins";

h2 {
    color: blue;
    @include responsive("iphone"){
        color: red;
    }
    @include responsive("Tablet"){
        font-size: 50px;
    }
    @include responsive("Tablet_l"){
        color: blueviolet;
    }
}